.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.body{
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgba(29, 71, 161, 0.459);
  border-radius: 5px;
}

.custom-btn{
  background-color: rgb(29, 71, 161);
  color: white;
}
.custom-btn:hover{
  color: white;
  background-color: rgb(36, 85, 192);
}

.todoList{
  background-color: rgba(29, 71, 161, 0.459);
  border-radius: 5px;
}

.ul-custom{
  padding-left: 12px;
}